body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:726px;
}
#u242 {
  position:absolute;
  left:100px;
  top:194px;
  width:375px;
  height:726px;
}
#u243 {
  position:absolute;
  left:2px;
  top:355px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  position:absolute;
  left:400px;
  top:144px;
  width:1px;
  height:16px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u248 {
  position:absolute;
  left:100px;
  top:130px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u249 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u250 {
  position:absolute;
  left:210px;
  top:164px;
  width:171px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u251 {
  position:absolute;
  left:2px;
  top:-2px;
  width:167px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u252 {
  position:absolute;
  left:100px;
  top:130px;
  width:375px;
  height:20px;
}
#u253 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u254 {
  position:absolute;
  left:100px;
  top:193px;
  width:375px;
  height:1px;
}
#u255 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u256 {
  position:absolute;
  left:114px;
  top:162px;
  width:12px;
  height:20px;
}
#u257 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u258 {
  position:absolute;
  left:245px;
  top:212px;
  width:91px;
  height:44px;
  font-size:18px;
  text-align:center;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u260 {
  position:absolute;
  left:226px;
  top:860px;
  width:123px;
  height:32px;
  color:#FFFFFF;
}
#u261 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u262 {
  position:absolute;
  left:100px;
  top:849px;
  width:375px;
  height:1px;
}
#u263 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
}
#u265 {
  position:absolute;
  left:107px;
  top:273px;
  width:160px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u266 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:32px;
}
#u267 {
  position:absolute;
  left:254px;
  top:273px;
  width:22px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u268 {
  position:absolute;
  left:2px;
  top:8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u269 {
  position:absolute;
  left:118px;
  top:322px;
  width:227px;
  height:16px;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:289px;
}
#u271 {
  position:absolute;
  left:118px;
  top:499px;
  width:340px;
  height:288px;
}
#u272 {
  position:absolute;
  left:2px;
  top:136px;
  width:336px;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u274 {
  position:absolute;
  left:407px;
  top:739px;
  width:44px;
  height:42px;
}
#u275 {
  position:absolute;
  left:2px;
  top:13px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u276 {
  position:absolute;
  left:431px;
  top:742px;
  width:16px;
  height:16px;
}
#u277 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u278 {
  position:absolute;
  left:410px;
  top:763px;
  width:16px;
  height:16px;
}
#u279 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u280 {
  position:absolute;
  left:432px;
  top:763px;
  width:16px;
  height:16px;
}
#u281 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u282 {
  position:absolute;
  left:410px;
  top:742px;
  width:16px;
  height:16px;
}
#u283 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u284 {
  position:absolute;
  left:100px;
  top:100px;
  width:219px;
  height:22px;
  font-size:18px;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u286 {
  position:absolute;
  left:118px;
  top:356px;
  width:305px;
  height:125px;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  text-align:left;
}
#u288 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u289 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
  text-align:left;
}
#u290 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u291 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
  text-align:left;
}
#u292 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u293 {
  position:absolute;
  left:150px;
  top:30px;
  width:150px;
  height:30px;
  text-align:left;
}
#u294 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u295 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
  text-align:left;
}
#u296 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u297 {
  position:absolute;
  left:150px;
  top:60px;
  width:150px;
  height:30px;
  text-align:left;
}
#u298 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u299 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:30px;
  text-align:left;
}
#u300 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u301 {
  position:absolute;
  left:150px;
  top:90px;
  width:150px;
  height:30px;
  text-align:left;
}
#u302 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u303 {
  position:absolute;
  left:533px;
  top:408px;
  width:295px;
  height:32px;
  color:#666666;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u305 {
  position:absolute;
  left:533px;
  top:424px;
  width:0px;
  height:0px;
}
#u305_seg0 {
  position:absolute;
  left:-107px;
  top:-4px;
  width:107px;
  height:8px;
}
#u305_seg1 {
  position:absolute;
  left:-107px;
  top:-18px;
  width:8px;
  height:22px;
}
#u305_seg2 {
  position:absolute;
  left:-113px;
  top:-18px;
  width:14px;
  height:8px;
}
#u306 {
  position:absolute;
  left:-114px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u307 {
  position:absolute;
  left:533px;
  top:635px;
  width:309px;
  height:16px;
  color:#666666;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u309 {
  position:absolute;
  left:458px;
  top:643px;
  width:0px;
  height:0px;
}
#u309_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u310 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u311 {
  position:absolute;
  left:533px;
  top:322px;
  width:295px;
  height:32px;
  color:#666666;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u313 {
  position:absolute;
  left:345px;
  top:330px;
  width:0px;
  height:0px;
  color:#666666;
}
#u313_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:189px;
  height:8px;
}
#u314 {
  position:absolute;
  left:42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
